# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.pdb

# cmake
cmake-build-debug
CMakeLists.txt

# fun-brian uses a save_data file
src/fun-brian/save_data

# No idea why, but ".idea" folder was added by Gajoe
.idea